# ======================
# Globalne systemowe
# ======================
.DS_Store
Thumbs.db

# ======================
# Python (server/)
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# wirtualne środowiska
.venv/
venv/
ENV/
env/

# paczki i buildy
*.egg-info/
dist/
build/

# bazy danych
*.db
*.sqlite3

# pliki konfiguracyjne (nie commitujemy prywatnych)
.env
chesslens_server/.env
chesslens_server/data/*
chesslens_server/runs/*
chesslens_server/video_test
chesslens_server/YOLO_models
chesslens_server/YOLO_original_models
*.cashe
!**/.gitkeep


# ======================
# Android (android/)
# ======================
*.iml
.gradle/
.idea/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.ap_

# Android Studio cache/konfiguracja
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
